doctype doctype html
html(lang="vi")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    div.nav-bg{
        div.container{
            div.nav{
                div.nav-logo{
                    a(role="link" href="#")imgsrc="https://assets2.razerzone.com/images/phoenix/razer-ths-logo.svg"  
                }
                div.nav-menu{
                    .nav-menu_list{
                        li PC 
                        li Console 
                        li Mobile 
                        li Lifestyle
                        li Services
                        li Community 
                        li Support 
                        li Store
                    }
                    div.btn-contract{
                        
                    }
                }
            }
        }
    }
    div.notice{
        "Back-to-School Specials: Be the top of your class with 0% APR on exclusive laptop and gaming gear bundles."
        a(href="http://www.razer.com/campaigns/back-to-school") 
    }