doctype doctype html
html(lang="vi")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    div.nav-bg
        div.container
            div.nav
                div.nav-logo
                    a(role="link" href="#")imgsrc="https://assets2.razerzone.com/images/phoenix/razer-ths-logo.svg"  
                
                div.nav-menu
                    div.nav-menu_list
                        li 
                            a PC 
                        li 
                            a Console 
                        li 
                            a Mobile 
                        li 
                            a Lifestyle
                        li 
                            a Services
                        li 
                            a Community 
                        li 
                            a Support 
                        li 
                            a Store
                    

    div.notice
        "Back-to-School Specials: Be the top of your class with 0% APR on exclusive laptop and gaming gear bundles."
        a(href="http://www.razer.com/campaigns/back-to-school") 
    
    div.mice 
        div.mice1
            h1.text 
                span.bigger RAZER DEATHADDER V3&nbsp;PRO
            h2.text
                span FOR THE PRO
            div.links
                a(href="https://www.razer.com/gaming-mice/razer-deathadder-v3-pro")  
                    span.title Learn More
                        span.arrow ::after
                a(href="https://www.razer.com/gaming-mice/razer-deathadder-v3-pro/buy")  
                    span.title Buy
                        span.arrow ::after
                        